.wrapper {
    padding: 20px;
    color: green;
    scroll-margin-bottom: 10px;
}

.text {
    font-size: 18px;
    color: aqua;
}

.textPink{
    color: pink;
}

.textBlue{
    color: blue;
}

.button {
    padding: 15px;
    border-radius: 5px;
}

