.app-container {
    padding: 30px;
    background-color: gray;
  }
  
  .app-header {
    background: #282c34;
    padding: 20px;
    color: white;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  .toggle-timer-btn,
  .toggle-mount-btn,
  .counter-btn,
  .add-contact-btn,
  .contact-btn,
  .color-btn,
  .hello-btn,
  .focus-btn,
  .add-data-btn {
    margin: 10px;
  }
  
  .input-field {
    margin: 10px;
  }
  
  .contacts-container {
    margin-top: 20px;
  }
  
  .greeting {
    color: yellow;
  }
